.hidden {
    display: none;
}

input[type="text"] {
    width: 25px; /* or any width you prefer */
}

.field-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.field-holder label {
    display: flex;
    margin-left: 10px;
}