<form>
    <div>Enter state: </div>
    <label>
        <span>Player left hand</span>
        <input class="PL" name="arrayInput[]" type="text" value="1" readonly/>
    </label>
    <br />
    <label>
        <span>Player Right hand</span>
        <input class="PR" name="arrayInput[]" type="text" value="1" readonly/>
    </label>
    <br />
    <label>
        <span>AI left hand</span>
        <input class="AL" name="arrayInput[]" type="text" value="1" readonly/>
    </label>
    <br />
    <label>
        <span>AI right hand</span>
        <input class="AR" name="arrayInput[]" type="text" value="1" readonly/>
    </label>
    <button data-action="send">Send state</button>
</form>