<form>
    <span>Enter state</span>
    <label>
        <span>Player left hand</span>
        <input name="arrayInput[]" type="text" placeholder="1"/>
    </label>
    <label>
        <span>Player Right hand</span>
        <input name="arrayInput[]" type="text" placeholder="1"/>
    </label>
    <label>
        <span>AI left hand</span>
        <input name="arrayInput[]" type="text" placeholder="1"/>
    </label>
    <label>
        <span>AI right hand</span>
        <input name="arrayInput[]" type="text" placeholder="1"/>
    </label>
    <button data-action="send">Send state</button>
</form>