<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
    <script
        src="{{ url_for('static', filename='js/index.js') }}"
        type="module"
    ></script>
</head>

<body>
    <h1>
        Hello, World!
    </h1>
    {% if config['DEBUG'] %}
        {% include "_debug.html" %}
    {% endif %}

    <div class="send-state">
        {% include "_send_state.html" %}
        <div class="attack-buttons">
            <button data-action="L-L">Left hits left</button>
            <button data-action="L-R">Left hits right</button>
            <button data-action="R-L">Right hits left</button>
            <button data-action="R-R">Right hits right</button>
        </div>
    </div>
</body>
</html>