<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chopsticks AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script
        src="{{ url_for('static', filename='js/index.js') }}"
        type="module"
    ></script>
</head>

<body>
    <h1>
        Play Chopsticks Against AI!
    </h1>
    {% include "_debug.html" %}

    <div class="send-state hidden">
        {% include "_send_state.html" %}
        <button data-action="strike">Strike</button>
        <div class="attack-buttons hidden">
            <button data-action="L-L">Left hits left</button>
            <button data-action="L-R">Left hits right</button>
            <button data-action="R-L">Right hits left</button>
            <button data-action="R-R">Right hits right</button>
        </div>
        <button data-action="split">Split</button>
        <br />
        <div class="split-buttons hidden"></div>
    </div>
    <div class="feedback"></div>
</body>
</html>