# swagger.yml

openapi: 3.0.0
info:
  title: "RP Flask REST API"
  description: "An API about people and notes"
  version: "1.0.0"

servers:
- url: "/api"

components:
  schemas:
    Person:
      type: "object"
      required:
        - lname
      properties:
        fname:
          type: "string"
        lname:
          type: "string"
  parameters:
    lname:
      name: "lname"
      description: "Last name of the person to get"
      in: "path"
      required: true
      schema:
        type: "string"


paths:
  /ai:
    get:
      operationId: "AI_API.create_agent_and_env"
      summary: "Create an agent and an env"
      responses:
        "200":
          description: "Successfully created agent and env"
    post:
      operationId: "AI_API.return_move"
      summary: "Place a move, receive a move back"
      requestBody:
        description: "Place a move, feed in the new state"
        required: true
        content:
          application/json:
            schema:
              x-body-name: "person"
              $ref: "#/components/schemas/Person"
      responses:
        "201":
          description: "Successfully created person"